body {
  background-color: #160f19;
  font-family: "Lato", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  display: inline-grid;
}

.destroyer, .battleship, .carrier, .heavycruiser, .lightcruiser, .submarine {
  display: inline-flex;
}

.all {
  margin-bottom: 20px;
}

.parent {
  display: inline-block;
  width: 100px;
  height: 118px;
  margin-top: 5px;
  margin-right: 10px;
}

.rarityimg, .thumbnail, .link, .bannerright {
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
}

.thumbnail {
  z-index: 1;
}

.link {
  z-index: 95;
}

.bannerright {
  z-index: 2;
}

.tag1, .tag2, .tag3, .tag4 {
  z-index: 2;
  position: absolute;
  margin-top: 75px;
  display: none;
}

.tag2 {
  margin-left: 25px;
}

.tag3 {
  margin-left: 50px;
}

.tag4 {
  margin-left: 75px;
}

.tag1.show, .tag2.show, .tag3.show, .tag4.show {
  display: block;
}

.greyblock, .hulltype, .bannerleft {
  z-index: 1;
  position: absolute;
  margin-top: 100px;
  height: 20px;
  width: 100px;
  background-color: grey;
}

.hulltype {
  z-index: 2;
  width: 32px;
  height: 20px;
  background-color: transparent;
}

.bannerleft {
  z-index: 2;
  margin-top: 0px;
  height: 100px;
  background-color: transparent;
}

.text_en, .text_jp, .text_kr, .text_cn {
  margin-top: 100px;
  margin-left: 32px;
  height: 20px;
  line-height: 20px;
  display: none;
}

.text_en.show, .text_jp.show, .text_kr.show, .text_cn.show {
  display: block;
}

.shipname, .shipnamealt {
  font-size: 12px;
  width: 68px;
  text-align: center;
  text-shadow: 2px 1px #00000070;
  color: white;
  z-index: 10;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  line-break: auto;
}

.shipnamealt {
  line-height: 9px;
}

div.t0>div.tierbanner, div.t1>div.tierbanner, div.t2>div.tierbanner, div.t3>div.tierbanner, div.t4>div.tierbanner, div.t5>div.tierbanner, div.t6>div.tierbanner, div.t7>div.tierbanner{
  background-image: linear-gradient(#ff6d00, #ff9900);
  border-radius: 10px;
  text-align: center;
  text-shadow: 4px 2px #00000070;
  height: 45px;
  line-height: 45px;
  color: white;
  font-size: 48px;
  margin-bottom: 5px;
}

div.t1>div.tierbanner {
  background-image: linear-gradient(#fe016e, #fe012f);
}

div.t2>div.tierbanner {
  background-image: linear-gradient(#ff0a96, #ff5cd1);
}

div.t3>div.tierbanner {
  background-image: linear-gradient(#b002ff, #9320ff);
}

div.t4>div.tierbanner {
  background-image: linear-gradient(#009eff, #0056fe);
}

div.t5>div.tierbanner, div.t6>div.tierbanner, div.t7>div.tierbanner {
  background-image: linear-gradient(#009eff, #0056fe);
}

/* Dropdown Button */
.hulltype-dropbtn, .rarity-dropbtn, .tag-dropbtn, .tier-dropbtn, .nationality-dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.hulltype-dropbtn:hover, .hulltype-dropbtn:focus, .rarity-dropbtn:hover, .rarity-dropbtn:focus, .tag-dropbtn:hover, .tag-dropbtn:focus, .tier-dropbtn:hover, .tier-dropbtn:focus, .nationality-dropbtn:hover, .nationality-dropbtn:focus, .legend-dot-dropbtn:hover, .legend-dot-dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.hulltype-dropdown, .rarity-dropdown, .tag-dropdown, .tier-dropdown, .nationality-dropdown {
  margin-left: 100px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.hulltype-dropdown-content, .rarity-dropdown-content, .tag-dropdown-content, .tier-dropdown-content, .nationality-dropdown-content {
  background-image: linear-gradient(#1e8dff, #3c9dfe);
  margin-top: 15px;
  padding: 7px;
  padding-bottom: 3px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  min-height: 65px;
  z-index: 99;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  text-align: center;
}

.nationality-dropdown-content {
  min-width: 210px;
}

.hulltype-dropdown-content.show, .rarity-dropdown-content.show, .tag-dropdown-content.show, .tier-dropdown-content.show, .nationality-dropdown-content.show {
  display: block;
}

.nationality-dropdown-content.show {
  display: block;
}

.hulltype-dropdown-content::before, .rarity-dropdown-content::before, .tag-dropdown-content::before, .tier-dropdown-content::before, .nationality-dropdown-content::before, .legend-dropdown-content::before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -11px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}


.legend-dropdown-content::before {
  bottom: 0%;
  top: 100%;
  left: 50%;
  border-color: white transparent transparent transparent;
}

.hulltype-dropdown-content::after, .rarity-dropdown-content::after, .tag-dropdown-content::after, .tier-dropdown-content::after, .nationality-dropdown-content::after, .legend-dropdown-content::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #1e8dff transparent;
}

.legend-dropdown-content::after {
  bottom: 0%;
  top: 100%;
  left: 50%;
  border-color: #1e8dff transparent transparent transparent;
}

#Normal, #Rare, #Elite, #SuperRare, #Priority, #Decisive {
  width: 20%;
}

.natparent {
  width: 100px;
  height: 100px;
  display: inline-flex;
  position: relative;
}

#n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9, #n10, #n11, #n12, #n13, #n14, #n15 {
  width: 100%;
  z-index: 100;
  filter: invert(100%);
  position: inherit;
  object-fit: contain;
}

#n12 {
  filter: invert(0%);
}

.natparent.n1back, .natparent.n2back, .natparent.n3back, .natparent.n4back, .natparent.n5back, .natparent.n6back, .natparent.n7back, .natparent.n8back, .natparent.n9back, .natparent.n10back, .natparent.n11back, .natparent.n12back, .natparent.n13back, .natparent.n14back, .natparent.n15back{
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: DeepSkyBlue;
  position: absolute;
}

.natparent.n3back {
  background-color: Crimson;
}

.natparent.n4back {
  background-color: #8EE7F1;
}

.natparent.n5back {
  background-color: Blue;
}

.natparent.n6back {
  background-color: Red;
}

.natparent.n7back {
  background-color: pink;
}

.natparent.n8back {
  background-color: MediumOrchid;
}

.natparent.n9back {
  background-color: Grey;
}

.natparent.n10back {
  background-color: Navy;
}

.natparent.n11back {
  background-color: Pink;
}

.natparent.n12back {
  background-color: white;
}

.natparent.n13back {
  background-color: none;
}

.natparent.n14back {
  background-color: Crimson;
}

.natparent.n15back {
  background-color: Crimson;
}

#t0.tierfilter, #t1.tierfilter, #t2.tierfilter, #t3.tierfilter, #t4.tierfilter, #t5.tierfilter, #t6.tierfilter, #t7.tierfilter {
  background-image: linear-gradient(#ff6d00, #ff9900);
  border-radius: 10px;
  text-align: center;
  text-shadow: 2px 1px #00000070;
  height: 25px;
  line-height: 25px;
  color: white;
  font-size: 28px;
  margin-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

#t1.tierfilter {
  background-image: linear-gradient(#fe016e, #fe012f);
}

#t2.tierfilter {
  background-image: linear-gradient(#ff0a96, #ff5cd1);
}

#t3.tierfilter {
  background-image: linear-gradient(#b002ff, #9320ff);
}

#t4.tierfilter, #t5.tierfilter, #t6.tierfilter, #t7.tierfilter {
  background-image: linear-gradient(#009eff, #0056fe);
}

.legend-dot-dropbtn {
  font-family: "Lato", sans-serif;
  height: 50px;
  width: 50px;
  background-color: #3498DB;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 45px;
  z-index: 100;
}

.legend-dropdowns {
  margin-left: 100px;
  position: fixed;
  display: inline-block;
  width: 65px;
  height: 50px;
  bottom: 10px;
  right: 40px;
  z-index: 100;
}

/* Dropdown Content (Hidden by Default) */
.legend-dropdown-content {
  margin-left: -49px;
  background-image: linear-gradient(#1e8dff, #3c9dfe);
  color: white;
  margin-bottom: 15px;
  padding: 7px;
  padding-bottom: 3px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 137px;
  min-height: 65px;
  z-index: 99;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  bottom: 50px;
}

.legend-dropdown.icon1 {
  top: 5px;
  left: 5px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.legend-dropdown-content.show {
  display: block;
}


button:focus {
  border: none;
  outline: none;
}

.language {
  font-family: "Lato", sans-serif;
  color: white;
  margin-left: 100px;
  position: fixed;
  display: inline-block;
  width: 65px;
  height: 50px;
  top: 10px;
  right: 40px;
  z-index: 100;
}

.lang:hover, .lang:active {
  background-color: #2980B9;
}

.tagfilter_en, .tagfilter_cn, .tagfilter_ico {
  display: none;
}

.tagfilter_en.show, .tagfilter_cn.show {
  display: inline-block;
}

.legendicon_en, .legendicon_cn {
  display: none;
  vertical-align: middle;
  margin-right: 5px;
}

.legendicon_en.show, .legendicon_cn.show {
  display: inline-block;
}

.legendspan_en, .legendspan_cn {
  display: none;
  vertical-align: middle;
  font-size: 15px;
  min-width: 60%;
}

.legendspan_en.show, .legendspan_cn.show {
  display: inline-block;
}

.tags_en, .tags_cn {
  display: none;
}

.tags_en.show, .tags_cn.show {
  display: block;
}